*{
    margin: 0;
    height: 0;
}
.Fahim{
    width: 1000px;
    height: 600px;
    margin: auto;
    border: 1px solid blue;
    

}
.al-amin{
    width: 33.4%;
    height: 100px;
    background-color:green ;
    float: left;
    font-size: 40px;
    color: white;
    text-align: center;
}
.foyshal{
    width: 33.3%;
    height: 100px;
    background-color: yellow;
    float: left;
    font-size: 40px;
    color: blue;
    text-align: center;

}
.samir{
    width: 33.3%;
    height: 100px;
    background-color: red;
    float: left;
    font-size: 40px;
    color: white;
    text-align: center;
}
.al-amin:hover{
    background-color: navy;
}
.foyshal:hover{
    background-color: tomato;
}
.samir:hover{
    background-color: teal;
}