body,p,span{
    font-family: 'Dancing Script', cursive;

    font-family: 'Kdam Thmor Pro', sans-serif;

    font-family: 'Roboto', sans-serif;

   

}
h1,h2, h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;

    font-family: 'Work Sans', sans-serif;


}
.btn-primary{
    background-color: #e73c3e !important;
    border-color: #e73c3e;
    font-size: 22px;
    padding: 8px 30px;
    position: relative;
    z-index: 1;
}
.btn-primary:hover{
    border-color: #111;
    
}
.btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .3s;
}
.btn-primary:hover::after{
    width: 100%;

}
img{
    max-width: 100%;
}

.grybg{
    background-color: #f9fafb;
}

/* Home menu-section */
.main-header .container-fluid,
.slider-section .container-fluid{
    max-width: 1500px;
}
.ul-primary-menu{

}
.ul-primary-menu ul{}
.ul-primary-menu li{}
.ul-primary-menu li a{
    text-decoration: none;
    display: block;
    padding: 7px 13px;
    color: #111;
    font-weight: 600;
}
.ul-primary-menu li a:hover{}


.header-info{}
.header-search{
    width: 60px;
    font-size: 21px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;

}
.header-call-icon{
    color: #e73c3e;
    font-size: 35px;
}

.header-call{
    width: 240px;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 20px;

}
.collapse ul li a:hover{
    color: #e73c3e;
}
.header-button{}

/* DropDown Menu */
.ul-primary-menu li{
    position: relative;
}
.ul-primary-menu li ul{
    position: absolute;
    width: 300px;
    left: 0;
    top: 150px;
    background-color: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0, 0,0.1);
    opacity: 0;
    visibility: hidden;
    transition:all .5s ease-in-out;
}
.ul-primary-menu li ul li{
    flex-direction: column;
}
.ul-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 125%;
}
.ul-primary-menu li ul li a{}

/* Banner-Section */

.slider-section{
    background: url(../img-33_files/main-banner2.jpg)no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

.slider-content-wrp{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}
.slider-content h6{
    color: #e73c3e;
    font-size: 17px;

}
.slider-content h1{
    font-size: 70px;
    font-weight: 600;
}
.slider-content p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
}
.header-social{
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-social ul{
    list-style: none;
    padding-left: 0;
}
.header-social ul li span{
    font-size: 20px;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.header-social ul li span::after{
    content: "";
    height: 1px;
    background: #111;
    width: 35px;
    position: absolute;
    right: -45px;
    top: 51%;

}
.header-social ul li{}
.header-social ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
    color: #111;
    font-size: 20px;
}

/* Begain part2 css */
.logo-secton{
    border-bottom: 1px solid #ddd;
}
.client-logo{}
.client-logo ul{
    list-style: none;
    padding-left: 0;
}
.client-logo ul li{}
.client-logo ul li a{}

/* about-section */
.about-imge{
    position: relative;
}
.about-img-text{
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../img-33_files/shape.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    
}

.about-section{}


.about-text{}
.finix-text{}
.finix-text h5{
    color: #e73c3e;
    font-weight: 400;
    margin-top: 20px;
}
.finix-text h2{
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}
.finix-text p{
    font-size: 18px;
    font-weight: 350;
    color: #606060;
    margin-bottom: 20px;
}

.finix-text strong{
    font-weight: 300;
    color: #606060;
    font-size: 20px;
}
.finix-text ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.finix-text ul li{
    padding: 7px 0;
    color: #606060;
    font-size: 18px;
}
.finix-text ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free' ;
    font-weight: 700;
    color: #e73c3e;
    display: inline-block;
    margin-right: 10px;
}

/* why section */

.finix-text{
    position: relative;
}

.paly-animation-btn{
    width: 90px;
    height: 90px;
    display: inline-block;
    background: #fff;
    font-size: 60px;
    text-align: center;
    line-height: 90px;
    color: #e73c3e;
    border-radius: 50%;
    position: absolute;
    right: 40%;
    bottom: 50px;
}
.paly-animation-btn::before{
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73c3e;
    border-radius: 50%;
    animation: palybtn 1s ease-out infinite;
}
@keyframes palybtn{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    25%{
        transform: scale(1.3);
        opacity: .3;
    }
    50%{
        transform: scale(1.6);
        opacity: .5;
    }
    75%{
        transform: scale(1.8);
        opacity: .8;
    }
   
    100%{
        transform: scale(2);
        opacity: .0;
    }
}




.features-item{
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    
    overflow: hidden;
    position: relative;
    transition: .5s;
}
.features-item:hover{
    transform: translateY(-10px);
}
.features-item::before{
    content: "";
    position: absolute;
    top: -143px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 70%;
    background: #fdebeb;
    border-radius: 50%;

}
.features-item .ft-icon{
    position: relative;
}
.features-item .ft-icon i{
    color: #e73c3e;
    font-size: 33px;
    background: #fff;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    transition: .5s;
}
.features-item:hover .ft-icon i{
    color: #fff;
    background: #e73c3e;
}
.ft-icon h3{}
.ft-icon p{}


.mtop4{
    margin-top: -20px;
}

/* apply Now-section */

.applay-now-section{}
.applay-now-left-tex{}
.applay-now-left-tex h2{}

.styp-timeline{}
.styp-timeline ul{
    list-style: none;
    position: relative;
    padding-left: 60px;
}
.styp-timeline ul::before{
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    width: 1px;
    height: calc(100% - 95px);
    background: #e73c3e;

}
.styp-timeline ul li{
   margin-bottom: 25px;
   position: relative;

}
.styp-timeline ul li::before{
    content: attr(data-count);
    position:absolute;
    top: 0;
    left: -65px;
    height: 40px;
    width: 40px;
    background: #f9fafb;
    border: 1px solid #e73c3e;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;

}
.styp-timeline ul li strong{
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}
.styp-timeline ul li p{
    color: #606060;
}



.calculate-rate{
    background-color: #fdebeb;
    padding: 50px;
}
.calculate-rate .finix-text{}
.calculate-rate .finix-text h5{
    color: #606060;
}
.calculate-rate .finix-text h2{
    font-weight: 600;
    font-size: 38px;

}

.calculate-from{}
.calculate-from .form-group{
    margin-bottom: 20px;
}
.calculate-from .form-group input{
    border: none;
    border-radius: 0;
    padding: 15px 15px;

}
.calculate-from .form-group label{
    display: block;
    margin-bottom: 10px;
}
.calculate-from .form-group select{
    border: none;
    border-radius: 0;
    height: 55px;
}


/* call-to-action */


.call-to-action{}
.ami{
    background-color: #e73c3e;
   
}
.ami{
    background-color: #e73c3e;
    color: #fff;
    padding: 60px;
    padding-bottom: 60px;
    border-radius: 6px;
    padding-bottom: 40px;
}

.ami h2 {
    font-size: 34px;
    font-weight: 500;
    border-right: 1px solid #ddd;
}
.tumi{
    margin-top: 20px;
}
.tumi span{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #fff;
    color: #e73c3e;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    margin-right: 30px;
    border-radius: 50%;
    
}
.tumi a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-top: 13px;
   
}

/* Company-valus- section */

.company-values-text{}
.company-values-text h2{
    font-size: 40px;
    font-weight: 600;
}
.values-items{}
.values-items .values-icon{
    font-size: 39px;
    color: #e73c3e;
    margin-right: 30px;
   
}
.values-items{}
.value-text h3{}
.value-text p{
    color: #606060;
}
.our-company-img{
    text-align: right;
    margin-top: 35px;
}



/* services-tab-Section */

.services-tab-item{
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 40px !important;
}
.services-tab-item{}
.services-tab-item li{
    flex: 1 1 auto;
}

.services-tab-item li a span i{
    background: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 30px;
    color: #666;
}
.services-tab-item li a.active span i{
    color: #e73c3e;
}
.services-tab-item li a.active{
    font-size: 29px;
    display: inline-block;
    position: relative;
    
}

.services-tab-item li a.active::after{
    content: "";
    height: 1px;
    background: #111;
    width: 200px;
    position: absolute;
    bottom: 50%;
    top: 146px;
   
    
    
    
}
.services-tab-item li a strong{
    color: #222;
    font-weight: 700;
    font-size: 20px;
}

.serives-tab-content-text{}
.serives-tab-content-text ul{
    list-style: none;
    padding-left: 0;
   
}
.serives-tab-content-text ul li::before{
    content: "";
   
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background: #e73c3e;
}


/* testimonial section */

.clent-aitems h2{
    font-weight: 600;
    font-size: 40px;
}

.tesimonial-section{}
.testimonial-content{}
.testimonial-content p{
    font-size: 20px;
    color: #666;
}
.client-details{}
.client-details h5{
    color: #e73c3e;
   
}
.client-details p{}
.testimonial-imge{}
.testimonial-imge img{}


/* Team member section */

.team-member-section{}
.teram-member{}
.member-image{
    position: relative;
}
.member-image img{
    width: 100%;
    height: auto;
}
.member-social-profile{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.member-social-profile ul{
    text-align: center;
    padding-left: 0;
    margin-bottom: 25px;
}
.member-social-profile ul li{
    display: inline-block;
    transition: .5s ease-in-out;
    transform: translateY(45px);
    opacity: 0;
    visibility: hidden;
}
.member-image:hover .member-social-profile ul li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.member-image .member-social-profile ul li:nth-child(1){
    transition-delay: .2s;
}
.member-image .member-social-profile ul li:nth-child(2){
    transition-delay: .3s;
} 
.member-image .member-social-profile ul li:nth-child(3){
    transition-delay: .4s;
} 
.member-image .member-social-profile ul li:nth-child(4){
    transition-delay: .5s;
} 


.member-social-profile ul li a{
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #444;
    transition: .4s;
}
.member-social-profile ul li a:hover{
    color: #fff;
    background: #e73c3e;
}
.member-content{
    margin-top: 25px;
}

.member-content h4{
    color: #e73c3e;
    font-size: 23px;
    font-weight: 600;

}
.member-content p{
    color: #666;
}


/* Blog section */
.blog-section{
    background-color: #fff;
}

.blog-item{
    margin-top: 25px;

}
.blog-thubonail{}
.blog-thubonailm img{
    max-width: 100%;
}
.blog-content{
margin-top: 18px;
}
.blog-content p{
    color: #e73c3e;
    font-size: 17px;
}
.blog-content h3{
margin-bottom: 10px;
}
.blog-content h3 a{
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 25px;
}

.blog-content a{
    color: #222;
    text-decoration: none;
    font-weight: 600;
    transition: .4s;
}
.blog-item:hover .blog-content a{
    letter-spacing: 2px;
    color: #e73c3e;
}
.blog-item:hover .blog-content h3 a{
    letter-spacing: 0;
    color: #111;
    
}

/* footer Section */


.footer{
    background-color: #111;
    color: #fff;
    
}
.footer a{
    color: #fff;
}
.footer-widget h3{
    font-size: 25px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-widget ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.footer-widget ul li{
    margin: 10px 0;
}
.footer-widget ul li a{
    text-decoration: none;
    transition: .4s;
    
}
.footer-widget ul li a:hover{
    letter-spacing: 1.8px;
    color: #e73c3e;
  
}
.footer-top{
    border-bottom: 1px solid #444;
    
}

/* footer-social */

.widget-social{}
.widget-social ul{
    display: flex;
}
.widget-social ul li{
    padding: 10px 0;
    margin: 0 !important;
}
.widget-social ul li span{
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.widget-social ul li a{
    font-size: 20px;
    padding: 10px 10px;
}

.footer-copyright p{
    margin-bottom: 0;
}

.footer-contact{}
.footer-contact-item{
    margin-bottom: 20px;
}
.footer-contact-item span{
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
.footer-contact-item span i{}
.footer-contact-item a{
    text-decoration: none;
}


















