*{
    margin: 0;
    padding: 0;
}
.div-menu{
    background-color: orange;
}
.div-menu ul{
    text-align: center;
}
.div-menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.div-menu ul li a{
    color: white;
    padding: 10px 15px;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    border-right: 1px solid red;
    
}
.div-menu ul li:first-child a{
    border-left: 1px solid red;
}
.div-menu ul li:hover > a{
    background-color: orangered;
}
/* DropDrown */
.div-menu ul li{
    position: relative;

}
.div-menu ul li ul{
    position: absolute;
    left: 0;
    top:100%;
    width: 300px;
    background-color: orange;
    border-top: 1px solid red;
    transition: .4s;
}
.div-menu ul li ul li{
    display: block;
    margin-left: 0;

}
.div-menu ul li ul li a{
    display: block;
    border: none;
    border-bottom: 1px solid red;

}
.div-menu ul ul li:first-child a{
    border-left: none;
    
}

/* Hover part */

.div-menu ul li ul{
opacity: 0;
visibility: hidden;
transform: scale(0);

}
.div-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


