.test-div{
    height: 200px;
    width: 200px;
    background: green;
    color: #fff;
    display: inline-block;

}
body{
    background-color: #ddd;
}
.anather-div{
    width: 200px;
    height: 200px;
    background-color: blue;
}