body,h1,h2,h3,h4,h5,h6{

    font-family: 'Work Sans', sans-serif;

}
img{
    max-width: 100%;
}

/* header Style */


.jon-header span{
    display: inline-block;
    background: #6278df;
    color: #fff;
    height: 45px;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    position: relative;
    top: 2px;
}


.jon-header .navbar-brand{
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 1px;
   
}
.jon-menu .nav-link{
    padding-left: 15px !important;
    padding-right: 15px !important;
}


/* sileder-section */

.silider-section{
    background: url(./img/banner.jpg) no-repeat center center;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}
.silider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.silider-caption h4{
    margin-bottom: 30px;

}
.silider-caption h2{
margin-bottom: 70px;
font-size: 46px;
}

.silider-caption .btn{
    background: #5ba533;
    padding: 16px 18px;
    font-size: 20px;
    font-weight: 600;
   transition: 0.5s;
}
.silider-caption .btn:hover{
    background-color: white;
    color: #6278df;

}
.silider-caption .form-control{
    padding: 16px 18px;
    font-size: 20px;

}


/* Contener section */

.counter-number-item h3{

    font-size: 60px;
    margin-top: 40px;
}

.counter-number-item p{
    font-size: 20px;
}

/* About Section */

.about-section{
    background: #f7f9ff;
}

.text-menu h1{
    font-size: 45px;
    margin-top: 130px;
    margin-bottom: 30px;
    

}

.text-menu p{
    font-size: 21px;
    

}

/* feature-section */

.feature-section{
    
}

.text-icon h1{
    font-size: 50px;
}
.text-icon p{
    font-size: 30px;
}

.feature-item{
    height: 300px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.left-img-sec{
    width: 45%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.left-text-sec{
    width: 55%;
    padding: 25px;
}
.left-img-sec img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -80px;

}
.left-img-sec .ab{
    padding: 0 0 0 71px;
    
}
.left-img-sec .ac{
    padding: 0 0 0 25px;
}
.left-img-sec .cd{
    padding: 0 -70px;
}



/* portfolio-section */


.portfolio-tex h1{
    font-size: 50px;
    font-weight: normal ;
}

.portfolio-item{}
.portfolio-item a{
    position: relative;
    display: block;
}
.portfolio-item a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(98, 129, 223, .6);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.portfolio-item:hover a::after{
    opacity: 1;
    visibility: visible;
}

/* pricing-table-section */

.main-section-bg{
    background-color: #f7f9ff;
}


.col-by h1{
    font-size: 60px;
    font-weight: normal;
    word-spacing: 1.2px;
    margin-top: 20px;

}
.col-by p{
    font-size: 28px;
    margin-top: 20px;
    font-weight: 300;
}

.pricing-item{
    background-color: #fff;
    padding: 50px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    border-radius: 7px;
}
.pricing-item h1{}
.pricing-item h5{

}
.pricing-item ul{
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 50px;
}
.pricing-item ul li{
    list-style: none;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #777;
}
.pricing-item ul li span{
    color: #657be0;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    width: 80px;
    
}

.pricing-item-buton{}
.pricing-item-buton a{
    border-color: #657be0;
    border-width: 2px;
    color: #657be0;
    padding: 15px 25px;
    font-size: 25px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.4);
}


/* testemonial-section */


.testemonial-section{}
.author-info{
    width: 230px;
    margin: auto;
}
.author-info img{
    width: 85px;
    margin-right: 10px;

}
.user-detalis{
    text-align: left;
    position: relative;
    top: 10px;
}
.tex-muted{
    font-size: 35px;
    font-weight: normal;
    color: #777;
}
.testimonial-ab{
    font-size: 45px;
}
.abcde{
    font-size: 200px;
    line-height: 40px;
    color: #777;
    
}
.lead{
    font-size: 27px;
    color: #777;
}


/*About section */

h2{
    font-size: 50px;
    margin-top: 10px;
}
.text-item p{
  font-size: 22px;
  margin-top: 40px;
  font-weight: normal;
}

.text-item-1 p{
    font-size: 22px;
    margin-top: 40px;
    font-weight: normal;
}

.about-item{
    margin-top: 150px;
}
.about-item.card{
}
.about-item .card img{ 
width: 150px;
height: auto;
margin-top: -95px;
margin-left: 20px;

}

.card-body a{
    font-size: 20px;
    font-weight: 600;
    color: #777;
}


/* contact us css */

.contnt-form-div .card{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.3);
    padding: 40px;
    width: 800px;
    height: 700px;
    
}
.contnt-form-div input{
    padding: 25px;
    font-size: 30px;
}
.contnt-form-div .abcd{

    font-size: 30px;
    height: 200px;
}
.a4{
    background-color: #fff;
    color: #6278df;
    padding: 20px 25px;
    font-size: 30px;
    transition: 0.4s;
}
.a4:hover{
    background-color: green;
}

.ami p{
    font-size: 35px;
    margin-top: 130px;

}
.ami h1{
    font-size: 55px;
    font-weight: normal;
}
.ami3{
    max-width: 700px;
    margin-left: 600px;
}
.app button{
    width: 250px;
    height: 80px;
    font-size: 30px;
    transition: 0.4ms;
    
    
}
.app button:hover{
    background-color: darkgreen;
}
.app1{
    padding: 0 200px;
    color: #5ba533;
    
}






